{{#ember-wormhole to=destinationElementId renderInPlace=renderInPlace}}
  {{#if hasOverlay}}
    <div {{bind-attr class="overlayClassNamesString translucentOverlay:translucent overlay-class"}} {{action 'close'}}></div>
  {{/if}}
  {{#component positioner classNameBindings="containerClassNamesString alignmentClass renderInPlaceClass container-class"
                                alignment=alignment
                                attachment='top left'
                                targetAttachment='right top'
                                target=alignmentTarget
                                alignmentTarget=alignmentTarget
  }}
    {{yield}}
  {{/component}}
{{/ember-wormhole}}
